<?xml version="1.0"?>
<launch>
<!-- Тип автопилота -->
    <!-- 0 - PX4 -->
    <!-- 1 - ArduPilot -->
    <arg name="ap_type" default="0" />
    <!-- Высота взлета над землей в метрах -->
    <arg name="altitude" default="1.5" />
    <!-- Использовать визуальную одометрию или нет -->
    <arg name="use_vision_odometry" default="0" />
    <!-- Время удержания позиции в секундах: целое положительное число -->
    <!-- <arg name="hover_time" default="60" /> -->
    <arg name="radius" default="5" />
    <!-- Радиус окружности по которой будет летать дрон в метрах -->
    <arg name="divider" default="30" />
    <!-- Чтсло точек на которое будет разбита окружность -->
    


    <node name="$(anon flight_node_test)" pkg="controll" type="flight_node_test.py" output="screen">
        <param name="altitude" value="$(arg altitude)" />
        <param name="autopilot_type" value="$(arg ap_type)" type="bool"/>
        <param name="use_vision_odometry" value="$(arg use_vision_odometry)" type="bool"/>
        <param name="radius" value="$(arg radius)" type="int"/>
        <param name="divider" value="$(arg divider)" type="int"/>

        <!-- <param name="hover_time" value="$(arg hover_time)"/> -->
    </node>
</launch>
    
