<?xml version="1.0"?>
<launch>
<!-- Тип автопилота -->
    <!-- 0 - PX4 -->
    <!-- 1 - ArduPilot -->
    <arg name="altitude"            default="0.5" />
    <!-- Сторона квадрата безопастной зоны -->
    <arg name="autopilot_type"      default="AutoPilot.PX4" />
    <!-- Максимальная высота  безопастного полёта -->
    <arg name="use_vision_odometry" default="False" />
    <!-- Минимальная высота  безопастного полёта -->
    <arg name="tolerance"           default="0.2" />
    <!-- Растояние на котором точка будет считать с достигнутой -->
    
    <node name="$(anon square_timer_node)" pkg="controll" type="square_timer_node.py" output="screen">
        <param name="altitude"            value="$(arg altitude)" />
        <param name="autopilot_type"      value="$(arg autopilot_type)" />
        <param name="use_vision_odometry" value="$(arg use_vision_odometry)" />
        <param name="tolerance"           value="$(arg tolerance)" />
    </node>
</launch> 